## ##################################################
## iCEBreaker board constraints
## ##################################################
set_io -nowarn CLK        35 # 12 MHz clock
set_io -nowarn RXD         6
set_io -nowarn TXD         9
set_io -nowarn RESET      10

## ##################################################
## iCEbreaker onboard SPI Flash
## ##################################################
#set_io -nowarn SPIFLASH_CLK  15
#set_io -nowarn SPIFLASH_CS_N 16
#set_io -nowarn SPIFLASH_MOSI 14
#set_io -nowarn SPIFLASH_MISO 17

## ##################################################
## PMOD1B constraints for github.com/fm4dd/pmod-flash
# MX25R6435F is a 64Mbit (8MByte) Serial NOR Flash
## ##################################################
set_io -nowarn SPIFLASH_CS_N 43
set_io -nowarn SPIFLASH_MOSI 38
set_io -nowarn SPIFLASH_MISO 34
set_io -nowarn SPIFLASH_CLK  31

## ##################################################
## PMOD2 connector constraints for Digilent PMOD 8LD
## ##################################################
set_io -nowarn LEDS[7]     27
set_io -nowarn LEDS[6]     25
set_io -nowarn LEDS[5]     21
set_io -nowarn LEDS[4]     19
set_io -nowarn LEDS[3]     26
set_io -nowarn LEDS[2]     23
set_io -nowarn LEDS[1]     20
set_io -nowarn LEDS[0]     18
